@charset 'utf-8';
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul, ol, li {
    padding: 0px;
    list-style: none;
}
/* header{ */
/*     width: auto; */
/*     height: 80px; */
/*     border-bottom: 1px solid gray; */
/* } */
/* header > div{ */
/*     width: 1120px; */
/*     height: 100%; */
/*     padding: 0px 80px; */
/*     margin: 0px auto; */
/* } */
.head{
    width: 100%;
    height: 100%;
    margin: auto;
    border: 0.5px dotted red;
    display: flex;
}
.head > div {
    width: 100%;
    height: 100%;
    border: 0.5px dotted red;
}
main{
    width: 100%;
    height: 4264.190px;
}
main > div{
    width: auto;
    height:627.391px;
    
}
.main1{
    width: auto;
    height:84px;
    padding: 0px 80px;
   
}
.main1_head{
    width: 1120px;
    height: 62px;
    margin: auto;
    padding-top: 24px;
}
.section1{
    width: 100%;
    height: 100%;
    
}
.section1 > .top{
    height: 30px;
    margin-bottom: 4px;
    display: flex;
}
.section1 > .top > span{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    align-items: center;
    padding-top: 6px;
}
.top > h1 {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 > .bottom{
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 > .bottom > .left {
    display: flex;
    font-size: 14px;
}
.section1 > .bottom > .left > span:nth-child(4) > button,
.section1 > .bottom > .left > span:nth-child(8) > button {
    border: 0;
    outline: 0;
    background-color: white;
    text-decoration: underline;
    padding: 0;
    font-size: 14.2px;
    font-weight: bold;
    cursor: pointer;
}
.section1 > .bottom > .left > .jum {
    margin: 0 5px;
}
.section1 > .bottom > .left > span > img {
    width: 13px;
    height: 13px;
    padding-right: 4px;
}
.section1 > .bottom > .right{
    display: flex;
    width: 156px;
    height: auto;
    justify-content: space-around;
}
.right > .share > button {
    width: 85px;
    padding: 0;
    cursor: pointer;
}
.right > .save > button {
    width: 55px;
    padding: 0;
    cursor: pointer;
}
.right > .share > button,
.right > .save > button {
    display: flex;
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 14px;
}
.right > .share > button > span > img {
    width: 16px;
    height: 18px;
    margin-right: 8px;
}
.right > .save > button > span > img {
    width: 16px;
    height: 18px;
    margin-right: 8px;
}
.right > .share > button > span:nth-child(2){
    text-decoration: underline;
    font-weight: bold;
}
.right > .save > button > span:nth-child(2){
    text-decoration: underline;
    font-weight: bold;
}

/* ↑ 여기까지 main1 */
.main2{
    width: 100%;
    height:541.391px;
}
.main2_1{
    max-width: none !important;
    height:541.391px;
    padding: 0px 80px;
}
.main2_2{
    width: 1120px;
    height: 541.39px;
    margin: auto;
    padding-top: auto;
    cursor: pointer;
}
.main2_photo{
    height: 519.391px;
    padding-top: 20px;
    margin: auto;
    display: flex;
}
.photo1{
    width:560px;
    height: 100%;
}
.photo1_1 {
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.photo1_1 > img {
    width: 100%; 
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.photo2{
    width: 272px;
    height: 100%;
    padding-left: 8px;
}
.photo2_1 > img{
    width: 100%;
    height: 258.69px;
}
.photo2_1:nth-child(2),
.photo2_2:nth-child(2){
    height: 48%;
}
.photo2_2 {
    width: 100%;
    height: 262.69px;
}
.photo2_2 > img {
    width: 100%;
    height: 258.69px;
}
.photo2_2:nth-child(1) > img {
    border-top-right-radius: 15px;
    
}
.photo2_2:nth-child(2) > img {
    border-bottom-right-radius: 15px;
}
/* 여기까지 main2 */

.main3{
    width: auto;
    height: 1999px;
}
.main3 > .main3_1{
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 80px;
    display: flex;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main3 > .main3_1 > .main_left{
    width: 653.33px;
    height: 100%;
}
.main3 > .main3_1 > .main_left > .left1{
    height: 128px;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main3 > .main3_1 > .main_left > .left2{
    height: 225px;
}
.main3 > .main3_1 > .main_left > .left3{
    height: 123px;
    padding: 32px 0px;
}
.main3 > .main3_1 > .main_left > .left4{
    height: 18px;
    padding-top: 32px;
}
.main3 > .main3_1 > .main_left > .left5{
    height: 93px;
    padding: 32px 0 48px 0;
}
.main3 > .main3_1 > .main_left > .left6{
    height: 290px;
}
.main3 > .main3_1 > .main_left > .left7{
    height: 378px;
}
.main3 > .main3_1 > .main_left > .left8{
    height: 519px;
}
.main3 > .main3_1 > .main_left > .left1 > div {
    height: 56px;
    padding: 48px 0px 24px;
}
.main3 > .main3_1 > .main_right{
    width: 373.33px;
    height: 100%;
    margin-left: 93.328px;
    border: 1px dotted rgb(18, 14, 212);
}
.main3 > .main3_1 > .main_left > .left1,
.main3 > .main3_1 > .main_left > .left2,
.main3 > .main3_1 > .main_left > .left3,
.main3 > .main3_1 > .main_left > .left4,
.main3 > .main3_1 > .main_left > .left5,
.main3 > .main3_1 > .main_left > .left6,
.main3 > .main3_1 > .main_left > .left7,
.main3 > .main3_1 > .main_left > .left8{
    width: 100%;
}
.third {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.third > div > h2 {
    margin:0;
    margin-bottom: 8px;
    font-size: 22px;
}
.third > div > ol {
    display: flex;
    margin: 0;
}
.thirdImg > div {
    height: 100%;
    float: left;
}
.thirdImg > div > img{
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.main_left > .left2 > .left2_1{
    height: 160px;
    padding: 32px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main_left > .left2 > .left2_1 > .first{
  height: 44px;
  margin-bottom: 24px;
  display: flex;
}
.main_left > .left2 > .left2_1 > .first > div:nth-child(1),
.main_left > .left2 > .left2_1 > .second > div:nth-child(1){
        width: 24px;   
}
.main_left > .left2 > .left2_1 > .first > div:nth-child(2),
.main_left > .left2 > .left2_1 > .second > div:nth-child(2){
    margin-left: 16px;
}
.main_left > .left2 > .left2_1 > .second{
    height: 24px;
    display: flex;
}
.left2 > .left2_1 > .first > .first1 > .top,
.left2 > .left2_1 > .second > .top {
    font-weight: bold;
}
.left2 > .left2_1 > .first > .first1 > .bottom {
    font-size: 14px;
    color: rgb(113, 113, 113)
}
.left3 {
    border-bottom: 1px solid rgb(219, 216, 216);
}
.left3 > .left3_1 > section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left3 > .left3_1 > section > .a1 > h2{
    margin-top: 0;
    margin-bottom: 16px;
}
.left3 > .left3_1 > section > .a1 > h2 > img{
    width: 97.5px;
    height: 26px;
    margin-top: 0;
}
.left3 > .left3_1 > section > .a2 {
    margin-bottom: 16px;
}
.left3 > .left3_1 > section > button {
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}
.left4 > .a1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}
.left4 > .a1 > div:nth-child(1){
    margin-right: 12px;
}
.left4 > .a1 > div:nth-child(3) > button {
    height: 100%;
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    padding: 0;
}
.left4 > .a1 > div:nth-child(3) > button > span{
    width: 100%;
    height: 24px;
    padding-left: 4px;
    cursor: pointer;
}
.left5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.left6 > .left6_1 {
    height: 193px;
    padding: 48px 0;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.left6 > .left6_1 > h2{
    margin: 0;
    padding-bottom: 24px;
}
.left6 > .left6_1 > .nemo{
    width: 157.109px;
    height: 93px;
    padding: 24px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left6 > .left6_1 > .nemo > div:nth-child(1){
    margin-bottom: 16px;
}
.left6 > .left6_1 > .nemo > div:nth-child(2){
    margin-bottom: 8px;
    font-weight: bold;
}
.left6 > .left6_1 > .nemo > div:nth-child(3){
    font-size: 14px;
}
.left7 > div {
    height: 282px;
    padding: 48px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.left7 > div > section > div > h2 {
    margin: 0;
    padding-bottom: 24px;
}
.left7 > div > section > .a1 {
    width: 100%;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}
.left7 > div > section > .a1 > .a1_1 {
    width: 265.547px;
    height: 24px;
    padding-bottom: 16px;
    display: flex;
}
.left7 > div > section > .a1 > .a1_1 > div:nth-child(1){
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
.left7 > div > section > .button{
  margin-top: 24px;
}
.left7 > div > section > .button > button{
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
    background-color: white;
    padding: 13px 23px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.left8 > .a1{
    height: 422px;
    padding:48px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.left8 > .a1 > .a1_1{
    width: 100%;
}
.left8 > .a1 > .a1_1 > .a1_1_h2 > h2{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.left8 > .a1 > .a1_1 > .a1_1_h2 > div {
    padding-top: 8px;
    font-size: 14px;
    color: black;
}
.left8 > .a1 > .a1_1 > .cal {
    width: 1340px;
    height: 357px;
    display: flex;
}
.left8 > .a1 > .a1_1 > .cal > .cal1, 
.left8 > .a1 > .a1_1 > .cal > .cal2 {
    width: 308px;
    height: auto;
    padding: 0 13px;
}
.left8 > .a1 > .a1_1 > .cal_del {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.left8 > .a1 > .a1_1 > .cal_del > div > img {
    height: 28px;
    padding-top: 1px;
    align-items: center;
    cursor: pointer;
}
.left8 > .a1 > .a1_1 > .cal_del > button{
    background-color: white;
    text-decoration: underline;
    border: 0;
    font-weight: bold;
    font-size: 14px;
}
.left8 > .a1 > .a1_1 > .cal_del > button > div {
    cursor: pointer;
}
.main3 > .main3_1 > .main.right {
    height: 100%;
    width: auto;
    margin: 0;
}
/* 여기까지 main 4 */
.main4{
    max-width: 100%;
    height: 923px;
}
.main4 > .a1 {
    height: 100%;
    padding: 0 80px;
}
.main4 > .a1 > .a1_1 {
    width: 1120px;
    height: 100%;
    margin: auto;
}
.main4 > .a1 > .a1_1 > .hugi_div {
    max-width: 100%;
    height: 826px;
    padding: 48px 0 ;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div1 {
    height: 26px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div1 > span:nth-child(1){
    height: 20px;
    margin-right: 8px;
    justify-content: center;
    align-content: center;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div1 > span:nth-child(2) {
    height: 28px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div1 > span:nth-child(2) > h2{
    margin: 0;
    font-style: inherit;
    font-size: 22px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div1 > span:nth-child(1) > h2 > div{
    margin: 0;
    align-content: center;
    height: 26px;
}

.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2{
    height: 120px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 {
    height: 108px;
    margin-bottom: 24px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height:100%;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 > .same{
    height: 36px;
    width: 39%;
    margin-right: 94px;
    padding: 0 8px;
} 
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 > .same > .samein{
    width: 100%;
    height: 20px;
    margin-bottom: 16px;
} 
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 > .same > .samein > .samein_1{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 > .same > .samein > .samein_1 > .samein_1_1{
    display: flex;
    font-size: 12px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div2 > .hugi_div2_1 > .hugi_div2_1_1 > .same > .samein > .samein_1 > .samein_1_1 > div:nth-child(2){
    margin-left: 8px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div3{
    height: 588px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div3 > .hugi_div3_1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div3 > .hugi_div3_1 > .same {
    width: 440px;
    height: 190px;
    margin-right: 94.656px;
    padding: 0 8px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .hugi_div3 > .hugi_div3_1 > .same > .same1 {
    height: 156px;
    margin-bottom: 40px;
}
.same1 > div:nth-child(1) {
    height: 40px;
    margin-bottom: 16px;
}
.same1 > div:nth-child(1) > .same2 {
    height: 100%;
    display: flex;
}
.same1 > div:nth-child(1) > .same2 > .img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.same1 > div:nth-child(1) > .same2 > .img > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.same1 > div:nth-child(1) > .same2 > .info {
    width: 100%;
    height: 100%;
}
.same1 > div:nth-child(1) > .same2 > .info > h3 {
    margin: 0;
    height: 20px;
    font-size: 16px;
}
.same1 > div:nth-child(1) > .same2 > .info > div {
    font-size: 14px;
    height: 20px;
}
.same1 > div:nth-child(2) {
    height: 100px;
}
.same1 > div:nth-child(2) > .hugi {
    height: 72px;
}
.same1 > div:nth-child(2) > .seemore {
    height: 20px;
    margin-top: 8px;
    display: flex;
}
.same1 > div:nth-child(2) > .seemore > button {
    display: flex;
    border: 0;
    outline: 0;
    background-color: white;
    padding: 0;
    float: left;
    cursor: pointer;
}
.same1 > div:nth-child(2) > .seemore > button > span:nth-child(1)
{
    width: 60px;
    height: 20px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
}
.same1 > div:nth-child(2) > .seemore > button > span:nth-child(2) > img {
    width: 12px;
    height: 22px;
    padding-left: 4px;
}
.main4 > .a1 > .a1_1 > .hugi_div > section > .info{
    height: 48px;
}
.hugi_div > section > .hugi_div4 {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.hugi_div > section > .hugi_div4 > button{
    padding: 13px 23px;
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.main5{
    height: 755px;
}
.main5 > .main5_1 {
    padding: 0 80px;
    max-width: auto;
    height: 100%;
}
    
.main5 > .main5_1 > .main5_1_1{
    width: 1120px;
    height: 100%;
    margin: auto;
}
.main5 > .main5_1 > .main5_1_1 > div {
    padding: 48px 0;
    height: 658px;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main5 > .main5_1 > .main5_1_1 > div > div {
    width: 100%;
    height: 100%;
}
.main5 > .main5_1 > .main5_1_1 > div > div > section{
    width: 100%;
    height: 100%;
}
.m5 {
    height: 26px;
    padding-bottom: 24px;
}
.m5_1 {
    height: 26px;
}
.m5_1 > h2 {
    margin: 0;
    font-size: 22px;
}
.map {
    width: 100%;
    height: 480px;
    margin-bottom: 32px;
}
.explain{
    height: 108px;
    width: 100%;
    margin-top: 24px;
}
.explain > .explain1 {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.explain > .explain1 > .explain1_1 > h3 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 16px;
}
.more1{
    margin-top: 16px;
}
.more1 > button {
    outline: 0;
    background-color: white;
    border: 0;
    font-size: 16px;
    height: 20px;
    padding: 0;
}
.more1 > button > span:nth-child(1) {
    height: 29px;
    font-weight: bold;
    text-decoration: underline;
}
.more1 > button > span:nth-child(2) > img {
    width: 12px;
    height: 12px;
}
.main6{
    width: auto;
    height: 242px;
}
.main6 > .main6_1 {
    width: 1725px;
    padding: 0 80px;
    margin: auto;
}
.main6 > .main6_1 > .main6_1_1 {
    width: 1120px;
    margin: auto;
}
.main6 > .main6_1 > .main6_1_1 > .a {
    width: 100%;
    height: 142px;
    padding: 48px 0;
    border-bottom: 1px solid rgb(219, 216, 216);
}
.main6 > .main6_1 > .main6_1_1 > .a > div > section > .b{
    margin-bottom: 24px;
    display: flex;
}
.main6 > .main6_1 > .main6_1_1 > .a > div > section > .b > .b1 {
    width: 64px;
    margin-right: 16px;
    display: flex;
}
.b1 > img {
    width: 100%;
    border-radius: 50%;
}
.b1 > span > img {
    width: 24px;
    margin-top: 40px;
}
.main6 > .main6_1 > .main6_1_1 > .a > div > section > .b > .b2 {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.b2 > .b2_1 > .b2_1_1 >  div {
    display: flex;
}
.b2 > .b2_1 > .b2_1_1 > div > img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
}
.b2 > .b2_1 > .b2_1_1 > div > .b2_2 > h2 {
    margin: 0;
    font-size: 22px;
}
.b2 > .b2_2 {
    font-size:14px;
}
.main6 > .main6_1 > .main6_1_1 > .a > div > section > .c {
    display: flex;
}
.c > .c1 {
    width: 50%;
}
.c >.c1 > .c1_1 {
    height: 36px;
    margin-bottom: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c >.c1 > .c1_1 > ul {
    width: 50%;
    height: 33px;
    margin-top: 0;
    display: flex;
}
.c > .c1 > .c1_1 > ul > .li {
    width: 100%;
}
.c > .c1 > .c1_1 > ul > .li > img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.c > .c1 > .c1_1 > ul > .li > span{
    height: 16px;
}
.c > .c1 > .c1_3 > .c1_3_1 {
    height: 124px;
    margin-bottom: 24px;
}
.c > .c1 > .c1_3 > .c1_3_1 > div:nth-child(1){
    width: 457.33px;
    margin-bottom: 8px;
    font-weight: bold;
}
.c > .c1 > .c1_3 > .c1_3_2 {
    height: 76px;
}
.c > .c2 {
    width: 50%;
}
.c2 > .c2_button {
    height: 48px;
}
.c2 > .c2_button > button {
    float: right;
    height: 48px;
    border-radius: 10px;
    outline: 0;
    background-color: white;
    padding: 13px 23px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main7{
    height:380px;
}
.main7 > .main7_1 {
    width: auto;
    height: 380px;
    padding: 0 80px;
}
.main7 > .main7_1 > .main7_1_1 {
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}
.must{
    height: 283px;
    padding: 48px 0 ;
}
.must > .must1 {
    height: 100%;
}
.must1_1 {
    height: 26px;
    padding-bottom: 24px;
}
.must1_2 {
    height: 100%;

}
.must1_2 > section > h2 {
    margin: 0;
    font-size: 22px;
}
.must2 {
    width: 1136px ;
    height: 233px;
    display: flex;
}
.must2_1 {
    width: 33.3%;
    height: 100%;
}
.must2_1_1{
    height: 100%;
    margin-right: 32px;
}
.must2_1_1 > div:nth-child(1),
.must2_1_1 > div:nth-child(2),
.must2_1_1 > div:nth-child(3){
    width: 100%;
    height: 100%;
}
.sukso {
    width: 100%;
    height: 100%;
}
.safe {
    width: 100%;
    height: 100%;
}
.refund {
    width: 100%;
    height: 100%;
}
.sukso > .sukso1{
    width: 100%;
    height: 21px;
    margin-bottom: 8px;
}
.sukso > .sukso1 > h3 {
    margin: 0;
    font-size: 16px;
}
.sukso > .all {
    display: flex;
}
.all > div {
    height: 16px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.all > div > img {
    width: 16px;
    height: 16px;
}
.sukso > .more {
    height: 22px;
    margin-top: 24px;
}
.more > button {
    outline: 0;
    background-color: white;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.more > span > img {
    width: 12px;
    height: 12px;
}
.safe > .safe1 {
    margin-bottom: 12px;
}
.safe > .safe1 > h3 {
    margin: 0;
    font-size: 16px;
}
.safe > .all {
    display: flex;
}
.safe > .all > div > span {
    margin-bottom: 8px;
}
.seemoreseemore > button {
    outline: 0;
    background-color: white;
    border: 0;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}
.safe > .more {
    margin-top: 24px;
}
.refund > .refund1 {
    height: 118px;
}
.refund1_top {
    margin-bottom: 12px;
}
.refund1_top > div > h3 {
    margin: 0;
    font-size: 16px;
}
.refun1_middle > div {
    margin-bottom: 8px;
}
.refund1_bottom > .more {
    margin-top: 24px;
}
.rootwrap {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}
.wrap {
	width: 425px;
	height: 155px;
	margin-bottom: 15px;
	margin-top: 10px;
}
#leftp {
	cursor: pointer;
}
#rightp {
	cursor: pointer;
}